services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false
        bind:
            $jsonSchemaDir: "%stfalcon_api.json_schema_dir%"
            iterable $errorResponseProcessors: !tagged_iterator 'stfalcon_api.exception_response_processor'

    StfalconStudio\ApiBundle\:
        resource: '../../{EventListener,Request,Serializer,Service,Util,Validator}/'
